<a href="https://colab.research.google.com/github/mkkcfsofsda/Pythonbasic/blob/main/assignment_ptyton_datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They are importanat because they enable efficient manipulation of data, which is crucial for building performant and scalable software.

2.  Explain the difference between mutable and immutable data types with examples.

Value of mutable data can be modified after assigment, while immutable data once assigned its value can not be change.

3. What are the main differences between lists and tuples in Python?

List and tuple bath are collecton of data but list is mutable and tuple is immutablae.

4.  Describe how dictionaries store data?

Dictionary stores data in form of key : value pairs, keys are immutable and values are mutable.

5. Why might you use a set instead of a list in Python?

Set is an unordered collection and has unique values, if no duplicate value is allowed set is used instead of list.

6. What is a string in Python, and how is it different from a list?

String data type store characters and behave like an array of characters, whareas list can store different types of data. Also string is immmutable and list is mutable.

7.  How do tuples ensure data integrity in Python?


Tuples ensure data integrity in Python because they are immutable. This means that once a tuple is created, its contents cannot be changed. This immutability guarantees that the data stored in a tuple remains constant throughout the program's execution.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is data structure in which data are storedd as key value pair combines on a hash fuction, value can easily be retrieve using hash code or key for the value. Dictionary of Python also stores data in key value pair where key are unique.

9. Can lists contain different data types in Python?

Yes list in python can have different type data.

10. Explain why strings are immutable in Python.

In python string is immutable becaue once created its value can not be modified. That means character on a paricular index of string can not be changed by assignment operator like string[2] = 'g'. when we assign new value to a string variable it simply delete the old one and create a new variable with same name and new value.

11. What advantages do dictionaries offer over lists for certain tasks?

Dictinary offer named unique keys for each value so data can be stored like a hash table.

12. How do sets handle duplicate values in Python?

In python, when a duplcate value is listed in set only the one value is kept and rest are discarded.

13. Describe a scenario where using a tuple would be preferable over a list.

Since tuple is immutable it is preferable when we need to store values like employee code or product code which must not be changed.

14. How does the “in” keyword work differently for lists and dictionaries?

'In' keyword in list looks for the presence of element in the list whereas in dictionary it looks for key, and has time comlexity of O(1) which is O(n) in case of list.

 15. Can you modify the elements of a tuple? Explain why or why not.

 No, an element of tuple cannot be modified as it is an immutable structre.

16. What is a nested dictionary, and give an example of its use case.

Nested dictionary is a data structure in which the value of each key is a dictionary.
{"emp1":{"name":"some name", "post":"some post", "pay":"some pay value"}}

17. Describe the time complexity of accessing elements in a dictionary.

Since in dictinary search is performed directly by key name any key search need only one operation, so time complexity is O(1).

18. In what situations are lists preferred over dictionaries?

If data needs to be modified during program execution, list is prefered.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Since in dictionary data are stored as key:value pair it considered as unordered. When searched the is retrieved directly without going to other element.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Data retrival in dictionary is fast as compared to list as a key is retrieved directly, where in list it has to move from one lelement to other till the the end.

# **Prctical Questions**

#1. Write a code to create a string with your name and print it.

In [ ]:
name = "Manoj Kumar Kunwar"
print("Hi, "+name)

Hi, Manoj Kumar Kunwar

#2. Write a code to find the length of the string "Hello World".

In [ ]:
str = "Hello World"
print(len(str))

11

#3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
str = "Python Programming"
print(str[0:3])

Pyt

#4. Write a code to convert the string "hello" to uppercase.

In [ ]:
str = "hello"
print(str.upper())

HELLO

#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
str = "I like applle"
for i in str.split():
  if i == "applle":
       str = str.replace(i,"orange")
print(str)

I like orange

#6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

#8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

#9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

#10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lst=[10, 20, 30, 40, 50]
lst = lst[::-1]
print(lst)

[50, 40, 30, 20, 10]

#11. . Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tple = (100, 200, 300)
print(tple)

(100, 200, 300)

#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tple = ('red', 'green', 'blue', 'yellow')
print(tple[-2])

blue

#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tple = (10, 20, 5, 15)
print(min(tple))

5

#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tple = ('dog', 'cat', 'rabbit')
print(tple.index('cat'))

1

#15. . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
tple = ("apple", "banana", "cherry")
print("kiwi" in tple)

False

#16. . Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
st ={'a', 'b', 'c'}
print(st)

{'b', 'c', 'a'}

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
st = {1, 2, 3, 4, 5}
st.clear()
print(st)

set()

#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [8]:
st = {1, 2, 3, 4}
st.remove(4)
print(st)

{1, 2, 3}

#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
st1 = {1, 2, 3}
st2 = {3, 4, 5}
st3 = st1.union(st2)
print(st3)

{1, 2, 3, 4, 5}

#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
st1 = {1, 2, 3}
st2 = {3, 4, 5}
st3 = st1.intersection(st2)
print(st3)
st1.intersection_update(st2)
print(st1)

{3}
{3}

#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [9]:
dict1 = {"name":"Manoj", "age":22, "city":"Delhi"}
print(dict1)

{'name': 'Manoj', 'age': 22, 'city': 'Delhi'}

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [10]:
dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [11]:
dict_student = {'name': 'Alice', 'age': 30}
print(dict_student["name"])

Alice

#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [12]:
boy = {'name':'Bob', 'age': 22, 'city' : 'New York'}
boy.pop("age")
print(boy)

{'name': 'Bob', 'city': 'New York'}

#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [13]:
details = {'name': 'Alice', 'city': 'Paris'}
print("city" in details)

True

#26.  Write a code to create a list, a tuple, and a dictionary, and print them all

In [14]:
ls = [1, 'Manngo', 'book']
dt = {'name':'Akshita','age': 22, 'city': 'Delhi'}
tp = (1, 2, 3, 4)
print(ls)
print(dt)
print(tp)

[1, 'Manngo', 'book']
{'name': 'Akshita', 'age': 22, 'city': 'Delhi'}
(1, 2, 3, 4)

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

In [15]:
import random
lst = [random.randint(1,100) for i in range(5)]
lst.sort()
print(lst)

[60, 79, 92, 93, 98]

#28. Write a code to create a list with strings and print the element at the third index.

In [16]:
lst = ['mango', 'banana', 'apple', 'orange']
print(lst[2])

apple

# 29. Write a code to combine two dictionaries into one and print the result.

In [17]:
d1 = {'name': 'Alice', 'age': 30}
d2 = {'city': 'Paris', 'country': 'France'}
d1.update(d2)
print(d1)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

# 30. Write a code to convert a list of strings into a set.

In [18]:
lis = [1, 2, 3, 4, 5, 4, 6]
st = set(lis)
print(st)

{1, 2, 3, 4, 5, 6}